body{
    margin: 0;
    padding: 0;
    background-image: url(img/KOSMOS.jpg) ;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 80%;
    margin: auto;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 15px 100px;
    width: auto;


}

.head a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: "Comfortaa";
    text-transform: uppercase;
}

.display{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.display  img{
    width: 450px;
}

.distxt{
    width: 550px;
    text-align: right;
    background: rgb(73, 77, 75);
    padding: 20px;
    color: white;
    border: 5px solid rgb(78 1 163);
    border-radius: 225px;
}

.distxt h1{
    text-align: center;
    font-family: 'Black Ops One';
    font-weight: 900;
    font-size: 45px
}

.distxt p{
    width: 550px;
 font-size: 20px;
 font-family: "Comfortaa";
}